#ls-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-sign-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.326) 0px 3px 8px;
}

.log-sign-box > h1 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: 1px;
    color: #5e17eb;
    font-size: xx-large;
    margin: 0px;
    margin-bottom: 1.5rem;
}

.already-switch {
    display: flex;
    align-items: center;
}

.su-li-already {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.su-li-switch {
    border: none;
    background-color: white;
    font-family: "Raleway", serif;
    font-style: italic;
    letter-spacing: 1px;
    color: #5e17eb;
    font-weight: 700;
}

.su-li-switch:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 
SIGNUP STYLES
*/

#signup-form {
    width: 100%;
}

.signup_input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup_inputs {
    border: none;
    border-bottom: #b7b7b7b9 1.5px solid;
    height: 1.5rem;
    margin-bottom: 5px;
    outline: none;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.signup_inputs:hover {
    border: none;
    border-bottom: #eb12cc 1.5px solid;
}

.signup_inputs:focus {
    border: none;
    border-bottom: #5e17eb 1.5px solid;
}

.signup_labels {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

#su_btn_box {
    display: flex;
    width: 100%;
    justify-content: center;
}

#signup_btn {
    padding: 5px 10px 5px 10px;
    margin: 6px;
    background-image: linear-gradient(to right, #5e17eb, #eb12cc);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transition: padding 50ms, margin 50ms;
}

#signup_btn:hover {
    box-shadow: #eb12cba6 0px 3px 8px;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    margin: 5px;
}

/* 
FOOTER STYLES
*/

#sign-log-footer {
    position: fixed;
    bottom: 0px;
    background-color: #5e17eb;
    width: 100vw;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: "Raleway", serif;
    font-size: large;
    letter-spacing: 1px;
    font-weight: 300;
}