:root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #5e17eb, #5e17eb, #9101e3, #d300d4, #eb12cc);
}

/* 
FONTS:

Playfair display:
font-family: "Playfair Display", serif;
font-style: italic;

*/